body {
    font-family: 'Darker Grotesque';
    font-size: 22px;
}


/* large screens */
 
@media screen and (min-width:500px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 253px;
        width: 1278px;
        height: 56px;
        background: #FFFFFF;
      }
    header .logo {
        font-size: 24px;
        font-weight:600;
        margin-left: 84px;
    }

    header  a{
        color: black;
    }

      header .header-right a{
        font-size:20px;
        font-weight: 600;
      }
      header .header-right{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 64px;
        
      }

      a{
        text-decoration: none;
      }

      .hero{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 123px 0 0 84px;
      }

      .hero .hero1{
        font-size: 70px;
        line-height:108.1%;
        font-weight:700;
      }

      .hero2{
        margin-top: 40px;
      }

      .hero2 button{
        padding: 15px 50px;
        background: #2F80ED;
        border-radius: 5px;
        border: 1px solid #2F80ED;
      }

      button:hover{
        cursor: pointer;
      }

      a{
        color: black;
      }

      .hero2 a{
        margin-left: 110px;
        font-weight:600;
        flex-grow: 0;
        font-size:24px;
      }

      .hero .section2{
        margin-left:10px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        position: relative;
      }

      .section2 .rect3{
        grid-column: -1 / span -1;
        grid-row: 1; 
        padding-top: 30%;
        z-index: 1;
      }

      .section2 .rect2{
        grid-column: 8 / 1;
        grid-row:1;
      }

      .section2 img {
        max-width:354px;
      }

      .user_guide{
        margin-top:234px;
        margin-bottom: 25px;
      }

      .user_guide #guide {
        font-weight:700;
        font-size:36px;
        line-height:49px;
        color:#121212;
        text-align:center;
      } 

      .user_guide .descript{
        margin-top: 25px;
        display:flex;
        flex-wrap: nowrap;
        padding: 0px;
        gap: 40px;
      }

      .user_guide .description{
        font-weight:700;
        font-size: 32px;
        line-height:43px;
        padding:30px;
      }


      
    }